<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/home/index.css">
    <title>Document</title>
</head>
<body>
    <div class="analytics-page">
        <div class="content">
            <h1>전체 서비스 현황 요약</h1>
            <h3>기초통계량</h3>
            <p class="paragraphs">전체 유저 수: 51744명 </br> 총 사용 시간: 943년 </br> 서비스 수: 22개 </p>
            <div class="move-button">
                <div>
                    <button disabled class="before">이전</button>
                    <a href="summary1"><button class="next">다음</button></a>
                </div>
            </div>
        </div>
    </div>
    <nav class="main-menu">
        <ul>
            <li>
                <a href="/">
                    <i class="fa fa-info fa-2x"></i>
                    <span class="nav-text">
                        전체 현황 요약
                    </span>
                </a>
            </li>
            <li class="has-subnav">
                <a href="/byservice1">
                    <i class="fa fa-list fa-2x"></i>
                    <span class="nav-text">
                        서비스 별 특이사항
                    </span>
                </a>
            </li>
            <li>
                <a href="/interservice1">
                    <i class="fa fa-bar-chart-o fa-2x"></i>
                    <span class="nav-text">
                        서비스 사이의 관계
                    </span>
                </a>
            </li>
            <li>
                <a href="/user1">
                    <i class="fa fa-table fa-2x"></i>
                    <span class="nav-text">
                        유저 그룹 관리
                    </span>
                </a>
            </li>
        </ul>
    </nav>
</body>
</html>