<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/home/index.css">
    <title>Document</title>
</head>
<body>
    <div class="analytics-page">
        <div class="content">
            <h1>서비스 별 특이사항</h1>
            <h3>서비스 별 그래프</h3>
            <p class="analysis-paragraph">ㅁㄴㅇ</p>
            <img class="responsive-graph" src="https://i.imgur.com/KjZkkdI.png">
            <p class="analysis-paragraph">분석에 앞서 서비스 별 사용자 수와 총 사용 시간을 비교했다. 서비스의 인기도 편차가 매우 컸으며, 비슷한 사용자 수준에서도 게임 별 총 사용 시간이 크게 달라지는 양상을 보였다. 이것은 주어진 데이터에서 유저 수와 같은 표면적 지표 외에도, 1인 당 총 플레이 시간과 같은 게임 자체의 특성을 나타내는 지표들을 수집할 수 있다는 것을 의미한다. 따라서 이 연구에서는 개별 게임의 특성을 파악할 수 있는 지표들을 개발하고, 해당 지표들을 토대로 서비스와 유저 특성을 분석해 서비스 운영 고도화에 기여하고자 한다.</p>
            <div class="move-button">
                <div>
                    <a href="/summary1"><button class="before">이전</button></a>
                    <a href="/summary3"></a><button class="next">다음</button></a>
                </div>
            </div>
        </div>
    </div>
    <nav class="main-menu">
        <ul>
            <li>
                <a href="http://justinfarrow.com">
                    <i class="fa fa-home fa-2x"></i>
                    <span class="nav-text">
                        Dashboard
                    </span>
                </a>
            </li>
            <li class="has-subnav">
                <a href="#">
                    <i class="fa fa-laptop fa-2x"></i>
                    <span class="nav-text">
                        Stars Components
                    </span>
                </a>
                
            </li>
            <li class="has-subnav">
                <a href="#">
                    <i class="fa fa-list fa-2x"></i>
                    <span class="nav-text">
                        Forms
                    </span>
                </a>
                
            </li>
            <li class="has-subnav">
                <a href="#">
                    <i class="fa fa-folder-open fa-2x"></i>
                    <span class="nav-text">
                        Pages
                    </span>
                </a>
                
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-bar-chart-o fa-2x"></i>
                    <span class="nav-text">
                        Graphs and Statistics
                    </span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-font fa-2x"></i>
                    <span class="nav-text">
                        Quotes
                    </span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-table fa-2x"></i>
                    <span class="nav-text">
                        Tables
                    </span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-map-marker fa-2x"></i>
                    <span class="nav-text">
                        Maps
                    </span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-info fa-2x"></i>
                    <span class="nav-text">
                        Documentation
                    </span>
                </a>
            </li>
        </ul>

        <ul class="logout">
            <li>
                <a href="#">
                    <i class="fa fa-power-off fa-2x"></i>
                    <span class="nav-text">
                        Logout
                    </span>
                </a>
            </li>  
        </ul>
    </nav>
</body>
</html>