hd<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/home/index.css">
    <title>Document</title>
</head>
<body>
    <div class="analytics-page">
        <div class="content">
            <h1>전체 서비스 현황 요약</h1>
            <h3>전체 서비스 비교 및 분석 방향성</h3>
            <!-- 총 사용 시간으로 단위 바꿔놓자 그래프에 -->
            <img class="responsive-graph" src="https://i.imgur.com/KjZkkdI.png">
            <p class="analysis-paragraph">세부적인 분석에 앞서 서비스 별 사용자 수와 총 사용 시간을 비교했다. 서비스의 인기도 편차가 매우 컸으며, 비슷한 사용자 수준에서도 게임 별 총 사용 시간이 크게 달라지는 양상을 보였다. 이것은 주어진 데이터에서 유저 수와 같은 표면적 지표 외에도, 1인 당 총 플레이 시간과 같은 게임 자체의 특성을 나타내는 지표들을 수집할 수 있다는 것을 의미한다.</p>
            <img class="responsive-graph" src="https://i.imgur.com/50Sw1Nm.png">
            <p class="analysis-paragraph">계절성을 파악하기 위해서 총 사용시간을 2011년의 월 별로 나누어 보았다. 해당 데이터에서는 전통적인 게임 업계의 성수기와 비수기의 차이가 확연히 드러난다. 학기 기간 (3~6월, 9월~11월)의 총 게임 시간의 평균은 64시간이었으며, 방학 기간의 경우 98시간이었다. 방학 기간에 총 사용 시간이 약 53% 증가하는 것이다.</p>
            <img class="responsive-graph" src="https://i.imgur.com/LUG30Mo.png">
            <p class="analysis-paragraph">사용 시간의 계절성에는 1인당 사용 시간과 유저 인원 수라는 두 가지 변수가 작용한다. 두 가지 변수 모두 성수기에는 증가하고, 비수기에는 감소하는 경향을 보인다. 주목할 만한 점이 있다면, 11월에서 12월로 넘어갈 때 인원 수는 23% 증가 하는데 비해, 사용 시간은 13% 증가하는 데 그친다는 것이다. 하지만 이는 마냥 모순적이지만은 않다. 청소년과 대학생 모두 빨라도 12월 말에 시험이 끝난다. 12월 달 말에 시험과 학기가 끝나고 게임을 다시 시작하는 유저가 많기에 그 수는 폭발적으로 늘지만, 12월 대부분의 기간은 학기 기간임으로 평균 플레이 시간은 여전히 짧은 것으로 해석할 수 있다. 이를 토대로 서비스를 활성화하려면, 이처럼 유저가 복귀하는 시점을 중점으로 각종 편의를 제공하고 이벤트 등 컨텐츠를 확충하는 것이 중요하다는 사실을 알 수 있다. 12월처럼 유저 수가 빠르게 늘며 복귀를 한 이후에는 1월처럼 1인 평균 플레이 시간이 크게 상승하는 시기가 오는데, 이 상승은 여가 시간의 증가로 인한 외부적인 요인이기 때문이다. 즉, 어차피 복귀 기간 이후의 방학 기간 동안은 게임 사용 시간이 자연스럽게 증가하며, 이 기간 전에 유저를 선점해 1인당 평균 사용 시간 증가의 효과를 극대화하는 전략이 필요하다.</p>
            <p class="analysis-paragraph">이상으로 간략하게 전체 서비스 현황을 분석하였다. 이처럼 넥슨의 서비스는 여러가지 관점에서 분석할 수 있다. 여기서 살펴본 계절성과 몰입도와 같은 지수는 다음 섹션에서 서비스와 유저를 분석하는데 유용하게 사용될 것이다.
            <div class="move-button">
                <div>
                    <a href="/"><button class="before">이전</button></a>
                    <a href="/byservice1"></ahref><button class="next">다음</button></a>
                </div>
            </div>
        </div>
    </div>
    <nav class="main-menu">
        <ul>
            <li>
                <a href="http://justinfarrow.com">
                    <i class="fa fa-home fa-2x"></i>
                    <span class="nav-text">
                        Dashboard
                    </span>
                </a>
            </li>
            <li class="has-subnav">
                <a href="#">
                    <i class="fa fa-laptop fa-2x"></i>
                    <span class="nav-text">
                        Stars Components
                    </span>
                </a>
                
            </li>
            <li class="has-subnav">
                <a href="#">
                    <i class="fa fa-list fa-2x"></i>
                    <span class="nav-text">
                        Forms
                    </span>
                </a>
                
            </li>
            <li class="has-subnav">
                <a href="#">
                    <i class="fa fa-folder-open fa-2x"></i>
                    <span class="nav-text">
                        Pages
                    </span>
                </a>
                
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-bar-chart-o fa-2x"></i>
                    <span class="nav-text">
                        Graphs and Statistics
                    </span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-font fa-2x"></i>
                    <span class="nav-text">
                        Quotes
                    </span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-table fa-2x"></i>
                    <span class="nav-text">
                        Tables
                    </span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-map-marker fa-2x"></i>
                    <span class="nav-text">
                        Maps
                    </span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-info fa-2x"></i>
                    <span class="nav-text">
                        Documentation
                    </span>
                </a>
            </li>
        </ul>

        <ul class="logout">
            <li>
                <a href="#">
                    <i class="fa fa-power-off fa-2x"></i>
                    <span class="nav-text">
                        Logout
                    </span>
                </a>
            </li>  
        </ul>
    </nav>
</body>
</html>